
@font-face {
  font-family: 'Swissra-Normal';
  src: url('Swissra-Normal.eot?#iefix') format('embedded-opentype'),  url('Swissra-Normal.otf')  format('opentype'),
	     url('Swissra-Normal.woff') format('woff'), url('Swissra-Normal.ttf')  format('truetype'), url('Swissra-Normal.svg#Swissra-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
